layout python python3

[[ -f .secrets/env.sh ]] && source .secrets/env.sh

PATH_add bin

export ANSIBLE_VAULT_PASSWORD_FILE=$(expand_path ./.secrets/ansible-vault)
export ANSIBLE_INVENTORY=$(expand_path ./config/hosts.yml)
